.selectForm {
   width: 35%;
   display: relative;
   flex-direction: column;
   background-color: #95dada;
   border: 1px solid grey;
   border-radius: 5px;
   padding: 25px;
   -moz-osx-font-smoothing: grayscale;
   backface-visibility: hidden;
}

.imputs {

   background-color: #ffffff;
   border: 1px solid #000000;
   border-radius: 5px;
}

.form {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 25px;
}

.titleForm {
   font-size: 60px;
   color: #0ccac4;
   font-family: "Bigelow Rules";
}

.buttonForm {
   background-color: white;
   border: solid #58FAF4 1px;
   border-radius: 3px;
   padding: 6px 10px;
   margin-bottom: 20px;
   margin: 10px;
}